.page {
    padding: 0 12px;
}

h2 {
    text-align: center;
}

h3 {
    margin: 4px 0;
}

h4 {
    margin: 4px 0;
}

.loading {
    text-align: center;
}

span {
    font-weight: 450;
}

.name {
    font-weight: 600;
}

.moves, .stats, .abilities {
    margin: 10px 0px;
}

p {
    margin: 0;
}

/* .stats .container {
    display: flex;
} */

.stats .name {
    margin-right: 10px;
}

.stats, .abilities, .moves {
    overflow-y: scroll;
    margin: 2px 14px;
}

.statsContainer {
    margin-bottom: 4px;
}

.container {
    display: flex;
    max-height: 300px;
}

.details {
    display: flex;
}

img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}